body {
  background-color: teal;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 15px;
  font-style: italic;
}

button {
  font-size: 25px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 1000px;
  margin-right: 0px;
}

.ColorDisplay {
  text-align: center;
  outline-style: solid;
  padding: 10px;
  width: 45%;
  float: left;
  background-color: lightgray;
  margin-top: 10px;
  margin-left: 15px;
  height: 200px;
}

.ShapeDisplay {
  text-align: center;
  outline-style: solid;
  padding: 10px;
  width: 45%;
  float: left;
  background-color: lightgray;
  margin-bottom: 10px;
  margin-left: 15px;
  height: 450px;
}

.QuiltDisplay {
  margin-right: 15px;
  padding: 10px;
  outline-style: solid;
  width: 45%;
  height: 800px;
  float: right;
  background-color: lightgray;
  text-align: center;
}
