header {
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

.ShapeDisplay {
  text-align: left;
  outline-style: solid;
  padding: 10px;
  width: 50%;
}

.QuiltDisplay {
  margin-left: auto;
  padding: 10px;
  outline-style: solid;
  width: 50%;
}

.ColorDisplay {
  text-align: left;
  outline-style: solid;
  padding: 10px;
  width: 50%;
}