body {
  background-color: teal;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 15px;
  font-style: italic;
}

.ColorDisplay {
  text-align: left;
  outline-style: solid;
  padding: 10px;
  width: 45%;
  float: left;
  background-color: lightgray;
  margin-bottom: 10px;
}

.ShapeDisplay {
  text-align: left;
  outline-style: solid;
  padding: 10px;
  width: 45%;
  float: left;
  background-color: lightgray;
  margin-top: 10px;
}

.QuiltDisplay {
  margin-top: 15px;
  padding: 10px;
  outline-style: solid;
  width: 45%;
  height: 500px;
  float: right;
  background-color: lightgray;
}
